<div class="new-employee-form">
  <%= form_with model: @employee, html: {autocomplte: "off"} do |f| %>
    <%= f.text_field :name, placeholder: "Full name" %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.password_field :password_confirmation, placeholder: "Password confirm" %>
    <%= f.telephone_field :phone, placeholder: "Phone" %>
    <%= f.text_field :location, placeholder: "Location" %>
    <%= f.text_field :address, placeholder: "Address" %>
    <%= f.text_field :account_role, placeholder: "Account role" %>
    <% departments_array = Department.all.map { |dep| [dep.department, dep.id] } %>
    <%= f.select :department_id, options_for_select(departments_array) %>
    <%= f.submit "Create user" %>
  <% end  %>
</div>
