<div class="sidebar">
  <div class="employee">
    <i class="fa-solid fa-circle-user"></i>
    <div class="employee-data">
        <span id="employee-name"><%= @current_employee.name %></span>
        <span id="employee-role"><%= @current_employee.account_role %></span>
    </div>
  </div>
  <div class="sidebar-items">
    <ul>
      <li><i class="fa-solid fa-house"></i> <%= link_to "Dashboard", root_path %></li>
      <li><i class="fa-solid fa-users-line"></i> <%= link_to "Employees", employees_path %></li>
      <hr>
      <li><i class="fa-solid fa-circle-user"></i> <%= link_to "Account", account_path %></li>
      <li><i class="fa-solid fa-gear"></i> <%= link_to "Settings", settings_path %></li>
    </ul>
  </div>
</div>
